{% extends 'partials/base.html.twig' %}
{% block content %}
{% set ritems = ['404', '440', '044']|randomize() %}
{% if rtiems|first == '404' %}
  {% set c1 = 'l' %}
  {% set c2 = 'c' %}
  {% set c3 = 'r' %}
{% elseif ritems|first == '440' %}
  {% set c1 = 'l' %}
  {% set c2 = 'r' %}
  {% set c3 = 'c' %}
{% else %}
  {% set c1 = 'c' %}
  {% set c2 = 'l' %}
  {% set c3 = 'r' %}
{% endif %}
<div class="main page404">
  <section class="container-c">
    <h1>Ups... 404</h1>
    <h2 class="frase"  [text]="t">¿Dónde estará la página?<br>Pulsa en las cartas para buscarla</h2>

    <div class="menu_alt" [class]="'menu_alt ' + menu">
      {% include 'partials/menu.html.twig' %}
    </div>

    <div class="tablero">
      <a class="card inicio card1 l" [class]="'card card1 ' + card + c1" on="tap:AMP.setState({t:'Lo siento, has perdido ;), entra en alguna de mis secciones.', card: 'muestra ', c1: c1 + ' active', overlay2: 'overlay2 visible', menu: 'menu_alt visible'})">4</a>
      <a class="card inicio card2 " [class]="'card card2 ' + card + c2" on="tap:AMP.setState({t:'¡Genial! Has ganado, entra en alguna de mis secciones', card: 'muestra ', c2: c2 + ' active', overlay2: 'overlay2 visible', menu: 'menu_alt visible'})">0</a>
      <a class="card inicio card3 r" [class]="'card card3 ' + card + c3" on="tap:AMP.setState({t:'Lo siento, has perdido ;), entra en alguna de mis secciones.', card: 'muestra ', c3: c3 + ' active', overlay2: 'overlay2 visible', menu: 'menu_alt visible'})">4</a>
      <button class="overlay" [class]="'' + overlay" on="tap:AMP.setState({overlay: 'hide', card: 'reves', c1: ' {{c1}}', c2: ' {{c2}}', c3: ' {{c3}}', t: 'Vamos allá, encuentra el 0'})"></button>
      <button class="overlay2" [class]="'' + overlay2"></button>
    </div>
  </section>
</div>
{% endblock %}