.work {
  h1 {
    margin-bottom: 0.6em;
  }

  p {
    font-size: 1.6em;
    line-height: 1.5;
  }
  article a {
    text-decoration: underline;
  }
  article amp-img {
    box-shadow: 0 0 .5em rgba(0,0,0,.2);
  }

  transition: all 0.4s ease;

  .data {
    color: $cGris;
    font-family: 'Ubuntu Mono';
    font-size: 1.6em;
    border-top: 1px solid $cGris;
    border-bottom: 1px solid $cGris;
    padding: 0.5em 0;
    margin: 0;
    &:before {
      content: '/*';
      display: block;
    }
    &:after {
      content: '*/';
      display: block;
    }
    li {
      list-style: none;
    }
    span {
      background: $cBlanco;
      margin-top: -0.7em;
      float: right;
      padding-left: 1em;
    }
  }
  .categories {
    // text-align: center;
    float: left;
    padding-right: 1em;
    background: $cBlanco;
    margin-top: -0.8em;
    font-size: 1.5em;
    a {
      display: inline-block;
      padding: 0.2em;
    }
  }
  .button {
    border: 1px solid $cGris;
    font-size: 0.6em;
    float: left;
    margin-right: 0.5em;
    span {
      padding: 0;
    }
  }
  .prev_next {
    text-align: center;
    max-width: 600px;
    margin: auto;

    .work-item {
      width: 50%;
      padding-bottom: 50%;
      text-align: left;
    }
  }
  .social {
    text-align: center;
    h4 {
      text-align: center;
      margin-bottom: 0;
    }
    p{
      margin-top: 0;
      font-size: 3em;
    }
    a {
      text-decoration: none;
      display: inline-block;
      width: 1em;
      overflow: hidden;
      transition: all 0.2s ease;
      padding: 0.5em;
      color: transparent;
      em {
        color: $cNegro;
      }
      &:hover {
        background: inherit;
        transform: scale(1.4) rotate(15deg);
        em {
          color: initial;
        }
      }
    }
  }
}
